.container {
  width: 60%;
  /*remove it later */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 5px; */
  /* remove it later */
  /* background: #434343; */
  margin-top: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;
}

.imgWrapper {
  height: max-content;
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  /* max-width: 378.55px; */
  object-fit: cover;
  border-radius: 20px;
}

.profile {
}

.title {
}
