.container {
  width: 85%;
  /*remove it later */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 5px; */
}

.imgWrapper {
}

.img {
  width: 100%;
}

.profile {
}

.title {
}
